.test-01
  background-image: url('./pics/01.jpg')
  
.test-02
  background: url('./pics/02.jpg') no-repeat cover
  
.thumb
  .test-01  
    background-image: url('./pics/01.jpg')
  
  .test-02
    background-image: url('./pics/02.jpg')  